.event-flyer-section {
  background: linear-gradient(to bottom, #2b0a11, #8E44AD);
  border-radius: 1rem;
  padding: 2rem;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.event-flyer-section .flyer-text {
  flex: 1 1 50%;
  color: #FDFEFE;
}

.event-flyer-section .flyer-text ul {
  padding-left: 1rem;
  list-style-type: disc;
}

.event-flyer-section .flyer-image-wrapper {
  flex: 1 1 50%;
  text-align: center;
}
